

/* .navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 92px;
    background-color: white;
    border-bottom: 15px;
    border-color: gray;
} */

 /* Modify the background color */ 
          
/*
.navbar-custom { 
    background-color: white; 
    border-bottom: 2px gr;
    } 
*/

/* Modify brand and text color */ 

/*
.navbar-brand {
    background-color: #59aaa5;
    height: 100%;
    padding: 15px;
    font-family: 'PT Serif', serif;
    color: white;
    font-size: 28px;
}
*/

.navbarNav {
    justify-content: space-between;
} 