 /* Header and Navigaion */ 
.navbar { 
    flex-wrap: wrap;
    background-color: white; 
    border-bottom: solid 2px #cccccc;
    justify-content: space-between;
} 


.navbar-brand {
    background-color: #3cd9b6;
    font-family: 'PT Serif', serif;
    text-decoration: none;
    color: white;
    font-size: 28px;
}

.navbarNav li:not(:first-child):before {
    content: " | ";
} 

 /* Background image */ 

#hero {
    background-image: url("../images/computer-3163437_1280.png");
}
   

/* Modify brand and text color */ 


.footer {
    background-color: #666666;
    border-top: #3cd9b6;
    border-top: solid 5px #3cd9b6;
    padding: 15px;
    color: white;
}

/* copyright {
    align-content: center;
} */
